<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chocolatey" version="v0.10.15" />
  <package id="7zip" version="19.0" />
  <package id="7zip.install" version="19.0" />
  <package id="audacity" version="3.0.2" />
  <package id="audacity-ffmpeg" version="2.2.2.20181007" />
  <package id="audacity-lame" version="3.100.0.20190331" />
  <package id="avidemux" version="2.7.8" />
  <package id="chocolatey" version="0.10.15" />
  <package id="chocolatey-core.extension" version="1.3.5.1" />
  <package id="chocolatey-dotnetfx.extension" version="1.0.1" />
  <package id="chocolatey-misc-helpers.extension" version="0.0.4" />
  <package id="chocolatey-visualstudio.extension" version="1.9.0" />
  <package id="chocolatey-windowsupdate.extension" version="1.0.4" />
  <package id="chocolateygui" version="0.18.1" />
  <package id="composer" version="6.1.0" />
  <package id="curl" version="7.77.0" />
  <package id="deepl" version="1.17.1" />
  <package id="discord" version="1.0.9002" />
  <package id="discord.install" version="1.0.9002" />
  <package id="DotNet4.5.2" version="4.5.2.20140902" />
  <package id="dotnet4.7.1" version="4.7.2558.20190226" />
  <package id="dotnet4.7.2" version="4.7.2.20180712" />
  <package id="dotnetcore3-desktop-runtime" version="3.1.16" />
  <package id="dotnetfx" version="4.8.0.20190930" />
  <package id="dropbox" version="124.4.4912" />
  <package id="ffmpeg" version="4.4" />
  <package id="Firefox" version="89.0" />
  <package id="Ghostscript" version="9.54.0" />
  <package id="Ghostscript.app" version="9.54.0" />
  <package id="git" version="2.32.0" />
  <package id="git-credential-manager-for-windows" version="1.20.0" />
  <package id="git-lfs" version="2.13.3" />
  <package id="git-lfs.install" version="2.13.3" />
  <package id="git.install" version="2.32.0" />
  <package id="github-desktop" version="2.8.3" />
  <package id="golang" version="1.16.5" />
  <package id="google-backup-and-sync" version="3.54.3529.0458" />
  <package id="GoogleChrome" version="91.0.4472.101" />
  <package id="graphviz" version="2.47.2" />
  <package id="imagemagick" version="7.0.11.14" />
  <package id="imagemagick.app" version="7.0.11.14" />
  <package id="InkScape" version="1.1" />
  <package id="inno-script-studio" version="2.5.1" />
  <package id="InnoSetup" version="6.2.0" />
  <package id="iTunes" version="12.11.3.17" />
  <package id="KB2533623" version="2.0.0" />
  <package id="KB2670838" version="1.0.20181019" />
  <package id="KB2919355" version="1.0.20160915" />
  <package id="KB2919442" version="1.0.20160915" />
  <package id="KB2999226" version="1.0.20181019" />
  <package id="KB3033929" version="1.0.5" />
  <package id="KB3035131" version="1.0.3" />
  <package id="KB3063858" version="1.0.0" />
  <package id="KB3118401" version="1.0.5" />
  <package id="kindlegen" version="2.9.0.20160512" />
  <package id="microsoft-teams" version="1.4.00.11161" />
  <package id="mp3gain" version="1.5.2" />
  <package id="mp3gain-gui" version="1.2.5.20190112" />
  <package id="mp3tag" version="3.07" />
  <package id="nodejs.install" version="16.3.0" />
  <package id="nteract" version="0.28.0" />
  <package id="nteract.install" version="0.28.0" />
  <package id="obs-studio" version="27.0.1" />
  <package id="obs-studio.install" version="27.0.1" />
  <package id="obs-virtualcam" version="2.0.5" />
  <package id="office365business" version="13901.20336" />
  <package id="openjdk" version="16.0.1" />
  <package id="openshot" version="2.5.1" />
  <package id="OptiPNG" version="0.7.7" />
  <package id="otter-browser" version="1.0.81" />
  <package id="otterbrowser" version="0.9.03.20171117" />
  <package id="paint.net" version="4.2.16" />
  <package id="pandoc" version="2.14.0.1" />
  <package id="php" version="8.0.7" />
  <package id="PowerBI" version="2.93.981.0" />
  <package id="powershell-core" version="7.1.3.20210315" />
  <package id="powertoys" version="0.37.2" />
  <package id="processing" version="3.5.4" />
  <package id="pushbullet" version="1.0" />
  <package id="pwgen.install" version="3.3.0" />
  <package id="pwsh" version="7.1.3.20210315" />
  <package id="python" version="3.9.5" />
  <package id="python3" version="3.9.5" />
  <package id="rapidee" version="9.2.937" />
  <package id="rlogin" version="2.26.1" />
  <package id="ruby" version="3.0.1.1" />
  <package id="scansnapmanager" version="6.5.40" />
  <package id="screenpresso" version="1.9.9" />
  <package id="slack" version="4.17.1" />
  <package id="sourcetree" version="3.3.9" />
  <package id="spacedesk-server" version="0.9.52" />
  <package id="SQLite" version="3.32.3" />
  <package id="steam" version="3.0.1.20190215" />
  <package id="Sudo" version="1.1.2" />
  <package id="svn" version="1.8.17" />
  <package id="toggl" version="7.5.213" />
  <package id="typora" version="0.9.89" />
  <package id="unzip" version="6.0" />
  <package id="vcredist140" version="14.28.29325.2" />
  <package id="vcredist2005" version="8.1.0.20160118" />
  <package id="vcredist2010" version="10.0.40219.2" />
  <package id="vcredist2015" version="14.0.24215.20170201" />
  <package id="vcredist2017" version="14.16.27033" />
  <package id="VisualCppBuildTools" version="14.0.25420.1" />
  <package id="visualstudio-installer" version="2.0.1" />
  <package id="visualstudio2019community" version="16.7.2.0" />
  <package id="vlc" version="3.0.14" />
  <package id="vscode" version="1.46.1" />
  <package id="vscode.install" version="1.46.1" />
  <package id="Wget" version="1.20.3.20190531" />
  <package id="winscp" version="5.17.6" />
  <package id="winscp.install" version="5.17.6" />
  <package id="wkhtmltopdf" version="0.12.6" />
  <package id="zip" version="3.0" />
  <package id="114" version="packages" />
</packages>
