<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" version="19.0" />
  <package id="7zip.install" version="19.0" />
  <package id="adobereader" version="2018.011.20063" />
  <package id="androidstudio" version="3.5.3.0" />
  <package id="audacity" version="2.3.2" />
  <package id="audacity-lame" version="3.100.0.20190331" />
  <package id="avidemux" version="2.7.1" />
  <package id="bluegriffon" version="3.0.1" />
  <package id="bower" version="1.8.8" />
  <package id="chocolatey" version="0.10.15" />
  <package id="chocolatey-core.extension" version="1.3.3" />
  <package id="chocolatey-dotnetfx.extension" version="1.0.0" />
  <package id="chocolatey-misc-helpers.extension" version="0.0.3.1" />
  <package id="chocolatey-windowsupdate.extension" version="1.0.4" />
  <package id="chocolateygui" version="0.16.0" />
  <package id="composer" version="4.10.0" />
  <package id="curl" version="7.65.1" />
  <package id="discord" version="0.0.305" />
  <package id="discord.install" version="0.0.305" />
  <package id="docker-toolbox" version="19.03.1" />
  <package id="DotNet4.5.2" version="4.5.2.20140902" />
  <package id="dotnet4.7.1" version="4.7.2558.20190226" />
  <package id="dotnetfx" version="4.8.0.0" />
  <package id="dropbox" version="76.3.110" />
  <package id="ffmpeg" version="4.1.3" />
  <package id="Firefox" version="67.0.4" />
  <package id="Ghostscript" version="9.27" />
  <package id="Ghostscript.app" version="9.27" />
  <package id="git" version="2.22.0" />
  <package id="git-credential-manager-for-windows" version="1.18.4" />
  <package id="git.install" version="2.22.0" />
  <package id="github" version="3.2.0.20181119" />
  <package id="github-desktop" version="2.1.3" />
  <package id="golang" version="1.12.6" />
  <package id="google-backup-and-sync" version="3.45.5545.5747" />
  <package id="GoogleChrome" version="77.0.3865.75" />
  <package id="graphviz" version="2.38.0.20190211" />
  <package id="imagemagick" version="7.0.8.48" />
  <package id="imagemagick.app" version="7.0.8.49" />
  <package id="InkScape" version="0.92.4.20190121" />
  <package id="KB2919355" version="1.0.20160915" />
  <package id="KB2919442" version="1.0.20160915" />
  <package id="KB2999226" version="1.0.20181019" />
  <package id="KB3033929" version="1.0.5" />
  <package id="KB3035131" version="1.0.3" />
  <package id="kindlegen" version="2.9.0.20160512" />
  <package id="mp3gain" version="1.5.2" />
  <package id="mp3gain-gui" version="1.2.5.20190112" />
  <package id="mp3tag" version="2.95" />
  <package id="nodejs.install" version="12.4.0" />
  <package id="nteract" version="0.14.3" />
  <package id="obs-studio" version="23.2.1" />
  <package id="obs-studio.install" version="23.2.1" />
  <package id="Office365Business" version="11509.33604" />
  <package id="openjdk" version="13.0.33" />
  <package id="openshot" version="2.5.0" />
  <package id="OptiPNG" version="0.7.7" />
  <package id="otter-browser" version="1.0.81" />
  <package id="otterbrowser" version="0.9.03.20171117" />
  <package id="pandoc" version="2.7.3" />
  <package id="php" version="7.3.9" />
  <package id="powershell-core" version="6.2.1" />
  <package id="pushbullet" version="1.0" />
  <package id="pwgen.install" version="2.9.0" />
  <package id="pwsh" version="6.2.1" />
  <package id="python" version="3.7.3" />
  <package id="python3" version="3.8.0" />
  <package id="rapidee" version="9.2.937" />
  <package id="rlogin" version="2.24.2" />
  <package id="ruby" version="2.6.3.1" />
  <package id="scansnapmanager" version="6.5.40" />
  <package id="screenpresso" version="1.7.8.0" />
  <package id="sourcetree" version="3.1.3" />
  <package id="spacedesk-server" version="0.9.21" />
  <package id="SQLite" version="3.28.0" />
  <package id="steam" version="3.0.1.20190215" />
  <package id="Sudo" version="1.1.1" />
  <package id="svn" version="1.8.17" />
  <package id="toggl" version="7.4.422" />
  <package id="vcredist140" version="14.22.27821" />
  <package id="vcredist2005" version="8.1.0.20160118" />
  <package id="vcredist2010" version="10.0.40219.2" />
  <package id="virtualbox" version="6.0.8" />
  <package id="vivaldi" version="2.3.1440.61" />
  <package id="vscode" version="1.35.1" />
  <package id="Wget" version="1.20.3.20190531" />
  <package id="winscp" version="5.15.2" />
  <package id="winscp.install" version="5.15.2" />
  <package id="wkhtmltopdf" version="0.12.5" />
</packages>
