<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" version="19.0" />
  <package id="7zip.install" version="19.0" />
  <package id="android-sdk" version="26.1.1" />
  <package id="androidstudio" version="3.3.1.0" />
  <package id="bower" version="1.8.8" />
  <package id="chocolatey" version="0.10.11" />
  <package id="chocolatey-core.extension" version="1.3.3" />
  <package id="chocolatey-windowsupdate.extension" version="1.0.3" />
  <package id="chocolateygui" version="0.16.0" />
  <package id="curl" version="7.64.0" />
  <package id="DotNet4.5.2" version="4.5.2.20140902" />
  <package id="dotnet4.7.1" version="4.7.2558.0" />
  <package id="Ghostscript" version="9.26" />
  <package id="Ghostscript.app" version="9.26" />
  <package id="git" version="2.20.1" />
  <package id="git-credential-manager-for-windows" version="1.18.4" />
  <package id="git.install" version="2.20.1" />
  <package id="GoogleChrome" version="72.0.3626.119" />
  <package id="imagemagick" version="7.0.8.28" />
  <package id="imagemagick.app" version="7.0.8.28" />
  <package id="jdk8" version="8.0.201" />
  <package id="KB2919355" version="1.0.20160915" />
  <package id="KB2919442" version="1.0.20160915" />
  <package id="KB2999226" version="1.0.20181019" />
  <package id="KB3033929" version="1.0.4" />
  <package id="KB3035131" version="1.0.2" />
  <package id="microsoft-teams" version="1.2.00.1758" />
  <package id="nodejs" version="11.10.0" />
  <package id="nodejs.install" version="11.10.0" />
  <package id="Office365Business" version="11107.33602" />
  <package id="php" version="7.3.1" />
  <package id="python3" version="3.7.2" />
  <package id="rapidee" version="9.2.937" />
  <package id="ruby" version="2.6.1.1" />
  <package id="scansnapmanager" version="6.5.40" />
  <package id="screenpresso" version="1.7.5.1" />
  <package id="SourceTree" version="3.0.17" />
  <package id="Sudo" version="1.1.1" />
  <package id="toggl" version="7.4.252" />
  <package id="vcredist140" version="14.16.27027.1" />
  <package id="vcredist2010" version="10.0.40219.2" />
  <package id="vscode" version="1.31.1" />
  <package id="winscp" version="5.13.7" />
  <package id="winscp.install" version="5.13.7" />
  <package id="wkhtmltopdf" version="0.12.5" />
</packages>